---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}

<div id="main" class="about-layout" role="main" style="display: flex; align-items: flex-start; gap: 2rem;">
  <div class="sidebar-container" style="flex:0 0 220px;">
    {% include sidebar.html %}
  </div>
  <div class="main-container" style="display: flex; 
    flex-direction: row; 
    flex: 1 1 800; 
    gap: 1rem; 
    align-items: flex-start; 
    min-width: 0;">
    <article class="page-about" itemscope itemtype="http://schema.org/CreativeWork"
      style="flex: 1 1 auto; min-width: 0;">
      {% if page.title %}
      <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{%
      endif %}
      {% if page.excerpt %}
      <meta itemprop="description"
        content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
      {% if page.date %}
      <meta itemprop="datePublished" content="{{ page.date | date: " %B %d, %Y" }}">{% endif %}
      {% if page.modified %}
      <meta itemprop="dateModified" content="{{ page.modified | date: " %B %d, %Y" }}">{% endif %}

      <div class="page__inner-wrap">
        {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" |
              remove: "</p>" }}</h1>{% endif %}
          {% if page.read_time %}
          <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
          {% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{
              site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
              datetime="{{ page.modified | date: " %Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
          {% endif %}

          {% if page.collection == 'teaching' %}
          <p> {{ page.type }}, <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif page.venue and page.date %}
          <p>Published in <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif page.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{
              site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
              datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | default: "1900-01-01" | date: "%B %d, %Y"
              }}</time></p>
          {% endif %}
        </header>
        {% endunless %}

        <section class="page__content" itemprop="text">
          {{ content }}

          {% if page.citation and page.paperurl and page.slidesurl and page.bibtexurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.paperurl }}">Download Paper</a> | <a href="{{ page.slidesurl }}">Download Slides</a> | <a
              href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% elsif page.citation and page.paperurl and page.slidesurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.paperurl }}">Download Paper</a> | <a href="{{ page.slidesurl }}">Download Slides</a></p>
          {% elsif page.citation and page.paperurl and page.bibtexurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.paperurl }}">Download Paper</a> | <a href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% elsif page.citation and page.paperurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.paperurl }}">Download Paper</a></p>
          {% elsif page.citation and page.slidesurl and page.bibtexurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.slidesurl }}">Download Slides</a> | <a href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% elsif page.citation and page.slidesurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.slidesurl }}">Download Slides</a></p>
          {% elsif page.slidesurl and page.bibtexurl %}
          <p style="font-size: smaller"><a href="{{ page.slidesurl }}">Download Slides</a> | <a
              href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% elsif page.paperurl and page.bibtexurl %}
          <p style="font-size: smaller"><a href="{{ page.paperurl }}">Download Paper</a> | <a
              href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% elsif page.citation and page.bibtexurl %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}<br /><a
              href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% elsif page.citation %}
          <p style="font-size: smaller">Recommended citation: {{ page.citation }}</p>
          {% elsif page.slidesurl %}
          <p style="font-size: smaller"><a href="{{ page.slidesurl }}">Download Slides</a></p>
          {% elsif page.bibtexurl %}
          <p style="font-size: smaller"><a href="{{ page.bibtexurl }}">Download Bibtex</a></p>
          {% endif %}

          {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label
              | default: "Direct Link" }}</a></div>{% endif %}
        </section>

        <footer class="page__meta">
          {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
          {% endif %}
          {% include page__taxonomy.html %}
        </footer>

        {% if page.share %}{% include social-share.html %}{% endif %}

        {% include post_pagination.html %}
      </div>
      <!-- News Sidebar Block -->
      {% if site.comments.provider and page.comments %}
      {% include comments.html %}
      {% endif %}
    </article>
  </div>
  <div class="education-container" style="flex: 0 0 450px; align-self: stretch; position:sticky; top: 5rem;">
    <div id="education" class="education-cards" style="position:sticky; top: 3.5rem;">
      <h2>🎓 Education</h2>
      <!-- Card 1 -->
      <div style="
     display: flex;
     align-items: center;
     background: #fff;
     border: 1px solid #e2e8f0;
     border-radius: 8px;
     padding: 1rem;
     margin-bottom: 1rem;
     box-shadow: 0 1px 3px rgba(0,0,0,0.1);
     font-size: 0.8rem;
   ">
        <img src="/images/stevens-logo.png" alt="Stevens Institute logo"
          style="width:80px; height:80px; object-fit:contain; margin-right:1rem;">
        <div style="flex:1">
          <!-- flex row for name + dates -->
          <div style="display:flex; justify-content:space-between; align-items:center;">
            <strong>Stevens Institute of Technology</strong>
          </div>
          <!-- degree and GPA below -->
          <em>M.S. Applied Artificial Intelligence</em><br>
          <em>Sept 2023 – May 2025</em><br>
          <!-- GPA -->
          GPA: 3.9/4
        </div>
      </div>

      <!-- Card 2 -->
      <div style="
     display: flex;
     align-items: center;
     background: #fff;
     border: 1px solid #e2e8f0;
     border-radius: 8px;
     padding: 1rem;
     margin-bottom: 1rem;
     box-shadow: 0 1px 3px rgba(0,0,0,0.1);
     font-size: 0.8rem;
   ">
        <img src="/images/rgit-logo.jpeg" alt="MCT's RGIT logo"
          style="width:80px; height:80px; object-fit:contain; margin-right:1rem;">
        <div style="flex:1">
          <!-- flex row for name + dates -->
          <div style="display:flex; justify-content:space-between; align-items:center;">
            <strong>Rajiv Gandhi Institute of Technology, <br>Mumbai University</strong>
          </div>
          <!-- degree and GPA below -->
          <em>B.E. Computer Enigineering</em><br>
          <em>Sept 2019 – May 2023</em><br>
          GPA: 8.81/10
        </div>
      </div>


      <h2>🏅 Honors/Awards</h2>
      <!-- Card 1 -->
      <div style="
     display: flex;
     align-items: center;
     background: #fff;
     border: 1px solid #e2e8f0;
     border-radius: 8px;
     padding: 0rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
     box-shadow: 0 1px 3px rgba(0,0,0,0.1);
     font-size: 0.8rem;
   ">
        <div style="flex:1">
          <!-- flex row for name + dates -->
          <div style="display:flex; justify-content:space-between; align-items:center;">
            <ul style="font-weight: 700;">
              <li>1<sup>st</sup> Place ECE Research Scholarship - Spring 2024</li>
              <li>Provost's Masters Fellowship - Fall 2023</li>
            </ul>
          </div>
          <!-- <div style="display:flex; justify-content:space-between; align-items:center;">
            <strong>Provost's Masters Fellowship - Fall 2023</strong>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
  <div class="page__related">
    {% if site.data.ui-text[site.locale].related_label %}
    <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}
    </h4>
    {% endif %}
    <div class="grid__wrapper">
      {% for post in site.related_posts limit:4 %}
      {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>